
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <h2>
        The requested URL wasn't found on this server.
    </h2>
    <a href="@Url.Action("Index", "Default")">Go to the main page.</a>
</body>
</html>
